  .textoHeader {
    background-color: #f6d6d6;
    display: flex;
    justify-content: center;
    padding: 8px;
  }
  
  .titulo-linea-1 {
    width: 100%;
    color: white;
    font-size: 18px;
    background-color: #f6d6d6;
    text-align: center;
    font-weight: lighter;
    font-family: "Montserrat";
    text-shadow: #474747 2px 2px 2px, 2px 2px 5px rgba(206, 89, 55, 0);
  }